{% extends "admin/dashboard.html" %}
{% block content %}
      <div class='w-2/3 mx-auto my-8 bg-surface dark:bg-surface-dark p-6 rounded-lg shadow-md text-text-primary dark:text-text-primary-dark'>
            <h2 class="text-2xl font-bold mb-4">Groups and Permissions</h2>
        <div class="overflow-x-auto">
            <table class="table-auto w-full border-collapse border border-border dark:border-border-dark">
            <thead>
                <tr class="bg-background dark:bg-background-dark">
                <th class="border border-border dark:border-border-dark px-4 py-2">Group Name</th>
                <th class="border border-border dark:border-border-dark px-4 py-2">Permissions</th>
                </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                    <tr class="odd:bg-surface even:bg-background dark:odd:bg-surface-dark dark:even:bg-background-dark">
                    <td class="border border-border dark:border-border-dark px-4 py-2 font-medium">
                        {{group.name}}
                    </td>
                    <td class="border border-border dark:border-border-dark px-4 py-2">
                        <ul class="list-disc list-inside">
                            {% for permission in group.permissions.all %}
                                <li>{{permission.name}}|{{permission.codename}}</li>
                            {% empty %}
                                <span class="text-text-muted dark:text-text-muted-dark italic">No permissions assigned</span>
                            {% endfor %}
                        </ul>
                    </td>
                    </tr>
                {% endfor %}
                
            </tbody>
            </table>
        </div>
      </div>

{% endblock content %}